<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/head %>
</head>
<body>
    <%include partials/navbar %>

    <!-- Main page content -->
    <main class="flex-shrink-0 pl-1 pr-1 pl-md-0 pr-md-0">
        <div class="container border rounded mt-1 mb-2 p-1">
            <h1 class="display-4 border-bottom border-secondary">Node Assignments</h1>
            <div class="table-responsive">
                <table class="table table-hover text-center">
                    <!-- <caption>Links will become enabled as assignments are completed.</caption> -->
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Week</th>
                            <th scope="col">Assignments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 9; i <= 13; i++) { %>
                        <tr>
                            <th class="align-middle" scope="row"><%= i %></th>
                            <td class="align-middle">
                                <a role="button" class="btn btn-outline-primary" href="/<%= i %>/team">Team</a>
                                <a role="button" class="btn btn-outline-success" href="/<%= i %>">Prove</a>
                            </td>
                        </tr>
                        <% } %>
                        <tr>
                            <th class="align-middle" scope="row">Node Project</th>
                            <td class="align-middle">
                            <a role="button" class="btn btn-outline-success" href="https://mtgbuilder.herokuapp.com/">MTGBuilder</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <%include partials/top %>
    <%include partials/scripts %>
</body>
</html>